---
import Layout from "@layouts/Layout.astro";
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Back from '@components/Back.astro'



interface Course {
  id: string
  title: string;
  body: string;
  date: string;
  video: video
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}



const db = getFirestore(app);

const courseRef = db.collection("task1");
const courseSnapshot = await courseRef.get();
const courses = courseSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Course[];

/* Individula Course */
const courseIdRef = db.collection("task1");
const courseSnapshotId = await courseIdRef.doc(id).get();

if (!courseSnapshotId.exists) {
  return Astro.redirect("/404");
}

const course = courseSnapshotId.data() as Course;
---

<Layout title={course.title}>
<header class="z-10 bg-slate-800 flex items-center justify-between gap-x-2 px-5 w-full sticky top-0  py-1 shadow-xl">
<Back/>
<!-- Navigation Toggle -->
<button type="button" class="sm:hidden text-gray-500" data-hs-overlay="#docs-sidebar" aria-controls="docs-sidebar" aria-label="Toggle navigation">
  <span class="sr-only">Toggle Navigation</span>
  <svg class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</button>
<!-- End Navigation Toggle -->
</header>

<div id="docs-sidebar" class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 start-0 bottom-0 z-[60] w-64  pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full  [&::-webkit-scrollbar-track]:bg-slate-700 [&::-webkit-scrollbar-thumb]:bg-slate-500 bg-gray-900 border-gray-700">
   <div class="px-4 border-b border-gray-800 pb-3 text-center">
      <p class="my-2 text-xl font-medium text-white">Letter Lessons</p>
    </div>
  <nav class="hs-accordion-group p-6 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
    <ul class="space-y-1.5">
    {
       courses.map((course)=>(
      <li>
        <a class="flex items-center gap-x-2 py-2 px-2.5  text-sm rounded-lg bg-gray-900 text-white hover:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-600" href={`/courses/task-1/${course.id}`}>
         <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 icon icon-tabler icon-tabler-brand-youtube" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" /><path d="M10 9l5 3l-5 3z" /></svg>
         <h2 class="">{course.title}</h2>
        </a>
      </li>
      
      ))
     }
       <li class="mt-5">
          <a class="flex items-center px-3 py-2  transition-colors duration-300 transform rounded-lg text-red-500 hover:bg-gray-800 hover:text-red-600 " href="/courses/task-1">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M21 12h-13l3 -3" /><path d="M11 15l-3 -3" /></svg>
            <span class="mx-2 text-sm font-medium">Chiqish</span>
          </a>
        </li>
    </ul>
  </nav>
</div>


<section class="container mx-auto px-4 pt-10 mb-6  my-5 p-6">

  <div class="prose lg:prose-xl prose-invert mx-auto">

   <iframe class="w-full h-full mb-3 sm:w-[769px] sm:h-[409px] mx-auto  aspect-video rounded-xl" src={course.video} title={course.title} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 

  <div class="g-ytsubscribe" data-channelid="UCi1XXSBwveXksfJTDNmBUuA" data-layout="default" data-count="default"></div>

   <div set:html={course.body}/>
  </div>
  <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="eRc0z8q6" data-limit="5" data-width="60%" data-color="72E350" data-dislikes="1" data-colorful="1" data-dark="1"></script>
</Layout>

<script is:inline src="https://apis.google.com/js/platform.js"></script>
