---
import Layout from "@layouts/Layout.astro";
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";


interface Course {
  title: string;
  body: string;
  date: string;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const courseRef = db.collection("task1");
const courseSnapshot = await courseRef.doc(id).get();

if (!courseSnapshot.exists) {
  return Astro.redirect("/404");
}

const course = courseSnapshot.data() as Course;
---
<Layout title={course.title}>
<div class="max-w-2xl mx-auto p-4 border bg-gray-900 border-gray-800 p-5 rounded-xl">
    <form action={`/api/task1/${id}`} method="post">
        <div class="mb-6">
            <label for="title" class="block text-lg font-medium  mb-1 text-gray-400">Title</label>
            <input type="text" id="title" name="title" class="w-full px-4 py-2 text-gray-400 border border-slate-800 bg-slate-900 rounded-md focus:outline-none focus:border-indigo-500"  placeholder="Enter a lesson title" value={course.title}>
        </div>
        <div class="mb-6">
            <label for="date" class="text-gray-400 block text-lg font-medium mb-1">Date</label>
            <input value={course.date} type="date" id="date" name="date" class="w-full px-4 py-2 text-gray-50 border border-slate-800 bg-slate-900 rounded-md focus:outline-none focus:border-indigo-500">
        </div>

        <div class="mb-6">
            <label for="editor" class="text-gray-400 block text-lg font-medium  mb-1">Content</label>
            <textarea name="body" id="editor" class="w-full px-4 py-2 text-gray-900 border border-slate-800 bg-slate-900 rounded-md focus:outline-none focus:border-indigo-500" rows="6">{course.body}</textarea>
        </div>

        <div class="mb-6">
            <label for="video" class="text-gray-400 block text-lg font-medium mb-1">Video Embed</label>
            <textarea name="video" id="video"  class="text-rose-600 w-full px-4 py-2 text-gray-400 border border-slate-800 bg-slate-900 rounded-md focus:outline-none focus:border-indigo-500" rows="3"></textarea>
        </div>

        <div class="flex justify-end">
            <button id="submit" type="submit" class="px-6 py-2 bg-emerald-500 text-white font-semibold rounded-md hover:bg-indigo-600 focus:outline-none">Edit</button>
        </div>
    </form>
    <button id="delete-document" class="px-6 py-2 bg-rose-600 text-white font-semibold rounded-md hover:bg-indigo-600 focus:outline-none">Delete</button>

</div>


<script>
     let editor;

ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( newEditor => {
             editor = newEditor;
            })
            .catch( error => {
                console.error( error );
            });
</script>

<script>
  const deleteButton = document.getElementById(
    "delete-document"
  ) as HTMLButtonElement;
  const url = document.querySelector("form")?.getAttribute("action") as string;
  deleteButton.addEventListener("click", async () => {
    const response = await fetch(url, {
      method: "DELETE",
    });
    if (response.redirected) {
      window.location.assign(response.url);
    }
  });
</script>