---
import { app } from "../lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import { getFirestore } from "firebase-admin/firestore";
import BackHome from "@components/BackHome.astro";
import Account from "@components/Account.astro";


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {picture, name, email, status, tariff, joined, expiresAt, balance} = userData

 const d = new Date();
    const y=d.getFullYear()
    const m=d.getMonth()+1
    const s=d.getDate()
    const today=`${s}-${m}-${y}`

if (today === expiresAt) {
  // Update user status to "unpaid" if today is greater than or equal to expiresAt
  userRef.update({
    status: "unpaid",
    expiresAt: "expired"
  }).then(() => {
    console.log("User status updated to 'unpaid'");
  }).catch((error) => {
    console.error("Error updating user status:", error);
  });
}
---

<Layout title="Dashboard">
<p style="display:none" id="store-id">{user.uid}</p>
 <div class="flex items-center">
  <BackHome/>
  <p class="text-2xl font-bold text-white mx-3">My Account</p>
  </div> 

  <div class="flex flex-col items-center justify-center">
    <Account
picture={picture}
  name={name}
  email={email}
  status={status}
  tariff={tariff}
  joined={joined}
  expiresAt: {expiresAt}
  balance: {balance}
  />
  </div>
  
 
</Layout>


<script is:inline>
var storeId=document.getElementById("store-id").innerHTML
localStorage.setItem("storeId", storeId)

</script>
