---
import Layout from "@layouts/Layout.astro";
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Back from '@components/Back.astro'


interface Teacher {
  name: name;
  level: level;
  description: description;
  experience: experience;
  phone: phone;
  year: year;
  telegram: telegram;
  youtube: youtube;
  university: university
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const teacherRef = db.collection("teachers");
const teacherSnapshot = await teacherRef.doc(id).get();

if (!teacherSnapshot.exists) {
  return Astro.redirect("/404");
}

const teacher = teacherSnapshot.data() as Teacher;
---

<Layout title={teacher.name}>
   <div class="bg-gray-900">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <div class="col-span-4 sm:col-span-3">
                <div class="bg-gray-800 shadow rounded-lg p-6">
                    <div class="flex flex-col items-center">
                        <img src={teacher.avatar} class="w-32 h-32 bg-gray-300 rounded-full border-2 border-blue-600 mb-4 shrink-0">

                        </img>
                        <h1 class="text-gray-50 text-xl font-bold">{teacher.name}</h1>
                        <p class="text-gray-50">{teacher.position}</p>
                        <div class="mt-6 flex flex-col flex-wrap gap-4 justify-center">
                            <a href={`tel:${teacher.phone}`} class="bg-emerald-500 hover:bg-emerald-600 text-white py-2 px-8 flex rounded-xl"><svg xmlns="http://www.w3.org/2000/svg" class="mx-2 icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>Call Now</a>
                            <a href={`${teacher.telegram}`} target="_blank" class="bg-blue-500 hover:bg-blue-600 text-gray-50 py-2 px-4 rounded-xl flex"><svg xmlns="http://www.w3.org/2000/svg" class="mx-2 icon icon-tabler icon-tabler-brand-telegram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>Via Telegram</a>
                        </div>
                    </div>
                    <hr class="my-6 border-t border-gray-300">
                    <div class="flex flex-col text-gray-50">
                        <span class="text-gray-50 uppercase font-bold tracking-wider mb-2 text-center">General Info</span>
                        <ul class="overflow">
                            <li class="mb-2">Level: <span class="mx-1 bg-rose-600 text-white rounded-xl px-3 py-1">{teacher.level}</span></li>
                            <li class="mb-2">Experience: <span class=" font-bold rounded-xl px-3 py-1">{teacher.year}</span></li>
                            <li class="mb-2 flex"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 7a2 2 0 0 1 2 2" /><path d="M15 3a6 6 0 0 1 6 6" /></svg> <a class="text-blue-600 font-bold ml-2" href={`tel:${teacher.phone}`}>{teacher.phone}</a></li>

                            <li class="mb-2"> <a class="flex items-center" href={`${teacher.youtube}`} target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-rose-600 icon icon-tabler icon-tabler-brand-youtube-kids" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.608 17.75l-3.9 .268h-.027a13.83 13.83 0 0 0 -3.722 .828l-2.511 .908a4.111 4.111 0 0 1 -3.287 -.216a3.82 3.82 0 0 1 -1.98 -2.527l-1.376 -6.05a3.669 3.669 0 0 1 .536 -2.86a3.964 3.964 0 0 1 2.489 -1.661l11.25 -2.354c2.137 -.448 4.247 .85 4.713 2.9l1.403 6.162a3.677 3.677 0 0 1 -.697 3.086a4.007 4.007 0 0 1 -2.89 1.512v.002z" /><path d="M9 10l1.208 5l4.292 -4z" /></svg>
                            <p class="text-rose-600 mx-2 font-bold">YouTube Channel</p></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-span-4 sm:col-span-9">
                <div class="bg-gray-800 shadow rounded-lg p-6 text-gray-400">

                    <h2 class="text-xl font-bold mt-6 mb-4">Education</h2>
                    <div class="mb-6">
                        <div class="flex justify-between flex-wrap gap-2 w-full">
                            <p>
                                {teacher.university}
                            </p>
                        </div>
                        
                    </div>
                    <h2 class="text-xl font-bold mt-6 mb-4">Job Experience</h2>
                    <div class="mb-6">
                        <p class="mt-2">
                            {teacher.experience}
                        </p>
                    </div>
                    <div class="mb-6">
                        <h2 class="text-xl font-bold mb-4">About Me</h2>
                    <p class="text-gray-700" set:html={teacher.description}/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>