---
interface Props {
    profile: string,
    name:string,
    email:string,
    status:string,
    tariff:string,
    joined: string,
    expiresAt:string,
    balance: string
}

const {picture,name, email, status, tariff, joined, expiresAt, balance} = Astro.props
---
<div class="flex flex-col justify-center items-center">
<img src={picture} class="bg-gray-100 border-2 border-blue-600  rounded-full" width="100px" height="100px">
<h1 class="text-2xl font-bold text-white py-2">{name}</h1>
<a href="/edit" class="my-2 py-2 rounded-full bg-blue-500 px-6 text-lg text-gray-50">Edit Your Profile</a>
</div>

<div class="profile-menu bg-gray-700 mt-5 py-4 px-3  rounded-lg text-gray-200 text-lg shadow-xl">
   
    <div class="flex items-center border-b  border-b-gray-500 py-1 ">
        <a href="/speaking/reports" class="bg-blue-600 rounded-2xl px-5 py-2">My Reports</a>
          <hr>
    </div>

    <div class="flex items-center border-b  border-b-gray-500 py-1 ">
        <div class="flex">
        📧
          <p class="font-bold ml-2">Email: </p>
        </div>    
          <h1 class="mx-2">{email}</h1> 
          <hr>
    </div>

    <div class="flex items-center border-b  border-b-gray-500 py-1">
        <div class="flex">
        🕔
        <p class="font-bold ml-2">Joined: </p>
        </div>  
                    
          <h1 class="mx-2">{joined}</h1> 
    </div>

    <div class="flex items-center border-b  border-b-gray-500 py-1">
      <div class="flex">
      ⏳
      <p class="font-bold ml-2">Expires: </p>
      </div>  
                  
        <h1 class="mx-2">{expiresAt}</h1> 
  </div>

<div class="flex items-center border-b  border-b-gray-500 py-1">
        <div class="flex">
          🎯
          <p class="ml-2 font-bold">Tariff: </p>
        </div>  
        
          <h1 class="mx-2">{tariff}</h1> 
    </div>

    <div class="flex items-center border-b  border-b-gray-500 py-1">
        <div class="flex">
        💰
          <p class="font-bold ml-2">Status: </p>
        </div>  
        
          <h1 class="mx-2">{status}</h1> 
    </div>

   <div class="flex items-center border-b  border-b-gray-500 py-1">
        <div class="flex">
        💳
          <p class="font-bold ml-2">Credit: </p>
        </div>  
        
          <h1 class="mx-2">{balance || "0 UZS"}</h1> 
    </div>


            <form action="/api/auth/signout" class="my-2">
                <button class="bg-rose-500 rounded-lg py-1 px-3 text-white flex items-center" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mx-2">
                        <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                      </svg>
                      
                    Sign out
                </button>
              </form>         

</div>    
<style>
    .profile-menu{
        width: 400px;
    }

    @media screen and (max-width:660px){
        .profile-menu{
        width: 90%;
    }
    }
</style>
