---
import 'shikwasa/dist/style.css'


interface Props{
   audioUrl:string,
   examName:string,
   examDate: string, 
   feedback:string;
   score: string;
   grammar: string;
   level: string;
   pronun: string;
   fluency: string;
   lexic: string;
   suggestion: string;
}

const {audioUrl, examName, examDate, feedback, score, grammar, level, pronun, fluency, lexic, suggestion} = Astro.props
---
<section class="px-4 mx-auto container sm:w-full mt-5">
   

   <div class="my-3">
       <h1 id="name" class="text-xl sm:text-3xl text-blue-600 font-bold py-2">{examName}</h1>
       <span class="text-gray-400 text-md font-medium mx-2">Exam Date:</span>
       <span class="text-white italic">{examDate}</span>
    </div>

 <div id="loader" class="mx-auto text-white text-md flex items-center justify-center text-center"> 
</div>


<main id="resultContainer" class="hidden">
   <div class="w-full mt-8 pt-10 sm:container mx-auto px-4 p-10 rounded-xl border-2 border-gray-700">
     <div class="flex flex-col px-5">
      <p class="mb-3 font-medium text-white text-lg flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 icon icon-tabler icon-tabler-brand-supabase" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 14h8v7l8 -11h-8v-7z" /></svg>
      Feedback
      </p>
      
      <div class="my-2 text-lg font-bold text-blue-500">Level: {level}</div>

      <div class="mb-3 text-gray-200 text-md sm:text-lg flex flex-col sm:flex-row justify-between gap-2">
        <p class="mb-2 w-full sm:w-[80%]" set:html={feedback}/>
         <p class="w-full bg-sky-500 text-gray-100 text-4xl font-bold flex items-center justify-center py-4 rounded-lg sm:w-[150px] sm:h-[150px]">{score}</p>
      </div>
     </div>
   </div>
    

 
   <div class="w-full mt-4 sm:container mx-auto px-4 p-6 rounded-xl border-2 border-gray-700">
     <div class="flex flex-col px-5">
       <p class="mb-3 font-medium text-white text-lg flex items-center gap-2">
        Detailed Feedback
      </p>
      <ul class="">

        <li class="mb-4 text-white gap-2">
        <p class="flex font-bold"> Grammar <span class="mx-2 text-gray-200 font-normal">{grammar}</span></p>
        </li>
         
        <div class="sm:hidden container mx-auto border-b border-gray-600 py-3 mb-3"></div>

        <li class="mb-4 text-white gap-2">
        <p class="flex font-bold"> Lexical Resources <span class="mx-2 text-gray-200 font-normal">{lexic}</span></p>
        </li>

        <div class="sm:hidden container mx-auto border-b border-gray-600 py-3 mb-3"></div>

        <li class="mb-4 text-white gap-2">
        <p class="flex  font-bold"> Pronunciation <span class="mx-2 text-gray-200 font-normal">{pronun}</span></p>
        </li>

        <div class="sm:hidden container mx-auto border-b border-gray-600 py-3 mb-3"></div>

        <li class="mb-4 text-white gap-2">
        <p class="flex font-bold"> Fluency <span class="mx-2 text-gray-200 font-normal">{fluency}</span></p>
        </li>

      </ul>
     </div>
   </div>

   
   <div class="w-full mt-4 sm:container mx-auto px-4 p-6 rounded-xl border-2 border-gray-700">
     <div class="flex flex-col px-5">
       <p class="mb-3 font-medium text-white text-lg flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-400 icon icon-tabler icon-tabler-info-circle-filled"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 9h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z" stroke-width="0" fill="currentColor" /></svg>
        Suggestions
      </p>
      <p class="text-md text-gray-300">{suggestion}</p>
     </div>
   </div>

</main>
  <div class="h-[60px]"></div>
  <footer class="w-full px-4 bg-slate-800 py-5 sticky bottom-0 flex items-center justify-center">
  <audio type="audio/mp3" controls src={audioUrl} id="audio" class="container mx-auto px-4">
   </audio> 
  </footer>
   
</section>

   
