---
interface Props{
    link: string;
    lottie: string;
    title: string;
    desc: string;
    id: string;
    bg:string;
}

const {link, lottie, title, desc, id, bg} = Astro.props

---
    
    <div id={id} class="my-1 container sm:w-[250px] flex flex-col rounded-b-lg bg-gray-800 shadow-xl">
        <a style=`background: ${bg}` href={link} class="text-white">
           <lottie-player class="rounded-xl w-full h-[full] sm:h-[250px]" src={lottie} background="transparent" speed="1"  direction="1" mode="normal" loop autoplay></lottie-player>
              
        </a>
        <a href={link} class="py-4 px-4 text-gray-50 flex flex-col">
            <span class="text-2xl">{title}</span>
            <span class="text-gray-500 my-3 text-sm">{desc}</span>
        </a>

    </div>

    

   

</div>

