---
interface Props{
    email: string;
    status: string;
    tariff: string;
    joinDate: string;
    expiredDate: string;
    balance:string;
}

const {email, status, tariff, joinDate, expiredDate, balance} = Astro.props

---
    
   <div class="my-2 shadow-xl p-8 text-gray-50 md:w-96 sm:container sm:mx-auto sm:px-4  rounded-lg flex flex-col items-center justify-center" >

    <div class="flex items-center"><span class="h-1 my-6 border-b border-gray-600 w-16 mx-1"></span> <p class="text-xl text-slate-400">Profile Info</p> <span class="h-1 my-6 border-b border-gray-600 w-16 mx-1"></span></div>
    <ul>
     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600 icon icon-tabler icon-tabler-mail-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" stroke-width="0" fill="currentColor" /><path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" stroke-width="0" fill="currentColor" /></svg> {email}</li>
     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600 icon icon-tabler icon-tabler-switch-vertical" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 8l4 -4l4 4" /><path d="M7 4l0 9" /><path d="M13 16l4 4l4 -4" /><path d="M17 10l0 10" /></svg> Status: <span class="text-emerald-500 uppercase mx-2">{status}</span></li>

     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600 icon icon-tabler icon-tabler-target-arrow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 7a5 5 0 1 0 5 5" /><path d="M13 3.055a9 9 0 1 0 7.941 7.945" /><path d="M15 6v3h3l3 -3h-3v-3z" /><path d="M15 9l-3 3" /></svg> Tariff: <span class="text-emerald-500 uppercase mx-2">{tariff}</span></li>

     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600 icon icon-tabler icon-tabler-clock-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.942 13.021a9 9 0 1 0 -9.407 7.967" /><path d="M12 7v5l3 3" /><path d="M15 19l2 2l4 -4" /></svg> Member: Since <span class="text-rose-500 uppercase mx-2">{joinDate}</span></li>


     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600 icon icon-tabler icon-tabler-hourglass-off" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 18v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-2a6 6 0 0 1 6 -6" /><path d="M6 6a6 6 0 0 0 6 6m3.13 -.88a6 6 0 0 0 2.87 -5.12v-2a1 1 0 0 0 -1 -1h-10" /><path d="M3 3l18 18" /></svg> Expire: <span class="text-emerald-500 uppercase mx-2">{expiredDate}</span></li>

     <li class="flex items-center text-slate-500 text-left pb-2 font-semibold text-md">
     <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-blue-600  icon icon-tabler icon-tabler-wallet" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12" /><path d="M20 12v4h-4a2 2 0 0 1 0 -4h4" /></svg> Balance: <span class="text-violet-500 uppercase mx-2">{balance}</span></li>

    </ul>
                                    
    </div>